# Lokal
VITE_API_URL=http://127.0.0.1:8000/api

# Production — bir xil domen (Render / PythonAnywhere)
# VITE_API_URL=/api

# Production (alohida frontend domen bo'lsa)
# VITE_API_URL=https://your-app.onrender.com/api
